<div style="align-items: center;align-self: center;justify-self: center;padding: 50px;background-color: black;">
    <h1 style="color: aqua;">Crawling Location Data</h1>
    <input nz-input [(ngModel)]="textSearch" placeholder="Nhập text tìm kiếm" nzSize="large" style="width: 100%;margin-top: 30px;" />
    <input nz-input [(ngModel)]="location" placeholder="Nhập lat, lon" nzSize="large" style="width: 100%;margin-top: 30px" />
    <input nz-input [(ngModel)]="type" placeholder="Nhập danh mục" nzSize="large" style="width: 100%;margin-top: 30px" />
    <input nz-input [(ngModel)]="pageNumber" placeholder="Nhập page number" nzSize="large" style="width: 100%;margin-top: 30px" />
    <h5 style="color: aqua;">Có {{ count }} kết quả</h5>
</div>